[MASTER]

fail-under=10.0
ignore=CVS
jobs=0
limit-inference-results=100
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no


[MESSAGES CONTROL]

confidence=
disable=missing-function-docstring,
      missing-function-docstring,
      missing-module-docstring,
      missing-class-docstring,
      no-member,
      unused-argument,
      too-many-locals,
      unused-variable
enable=c-extension-no-member


[REPORTS]

evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
output-format=text
reports=no
score=yes


[REFACTORING]

max-nested-blocks=5
never-returning-functions=sys.exit


[BASIC]

argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
svariable-naming-style=snake_case

bad-names=foo,
          bar,
          baz,
          toto,
          tutu,
          tata,
          test,
          s,
          t,
          res,
          resp

docstring-min-length=-1
include-naming-hint=no
no-docstring-rgx=^_
property-classes=abc.abstractproperty


[FORMAT]

expected-line-ending-format=

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

indent-after-paren=4
indent-string='    '
max-line-length=120
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no


[LOGGING]
logging-format-style=old
logging-modules=logging


[SIMILARITIES]

ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4


[STRING]

check-quote-consistency=no
check-str-concat-over-line-jumps=no


[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager
generated-members=
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1
signature-mutators=


[VARIABLES]

allow-global-unused-variables=yes

dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io


[CLASSES]

defining-attr-methods=__init__,
                      __new__,
                      setUp,
                      __post_init__

exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make

valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls


[DESIGN]

max-args=5
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2


[IMPORTS]

allow-any-import-level=
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix
ext-import-graph=
import-graph=
int-import-graph=
known-standard-library=
known-third-party=enchant
preferred-modules=


[EXCEPTIONS]

overgeneral-exceptions=BaseException,
                       Exception