aiofiles
aiohttp
async-timeout
asyncpraw
asyncprawcore
beautifulsoup4
cricapi
discord.py==1.7.3
glitch-this
numpy
pillow
pynacl
python-dateutil
python-dotenv
requests
six
soupsieve
tinydb
urllib3
youtube_dl
